*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96vh;
    
}
body{
    
  background: rgb(240, 229, 227);
  background: linear-gradient(191deg, rgba(240, 229, 227, 1) 0%, rgba(222, 229, 239, 1) 17%, rgba(230, 235, 228, 1) 49%, rgba(239, 241, 220, 1) 77%, rgba(231, 239, 224, 1) 100%);

}
footer{
    background-color: azure;
    height: 4vh;
    
}
.cajamini{
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(110, 110, 110, 0.9);
    border: 1px solid #818c94;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: left;
    width: 430px;
}
.margenllave{
    
}
.cajaforms{
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(110, 110, 110, 0.9);
    border: 1px solid #818c94;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 40px;
    width: 350px;
    

}
.tamalo{
    font-weight: 600;
    font-size: 1.5rem;
}
.centrado{
    width: 170px;
    margin-bottom: 20px;
}
.tamanomicro{
    width: 110px;

}
.texto1{
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 20px;
}
.correo{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    height: 36px;
    border-color: rgba(0, 0, 0, 0.4);
    font-size: inherit;
}
.contrasela{
    display: none;
}
.mover{

}
.espacioo{
    display: flex;
    flex-direction: column;
}

.textosize{
    font-size: 0.8125rem;
}